{% extends 'base.html' %}


{% block title %}Control Form{% endblock title %}

{% block content %}
    <h1>Heating Control</h1>

    Heating is currently <br>
    {{ latest_status|yesno:'On,Off,Unknown'}}
    <br>
    <a href="{% url 'toggle_button' %}"> Toggle </a>

<br>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" >Submit</button>
    </form>        
    <table>
        <tr>
            <th>id</th>
            <th>Time</th>
            <th>Command</th>
            <th>Repeats</th>
        </tr>
        {% for event in scheduled_events %}
            <tr>
                <td>{{event.pk}}</td>
                <td>{{event.start_time}}</td>
                <td>{{event.command}}</td>
                <td>{{event.repeat}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <style>
        th, td {
            padding: 5px;
          }
    </style>
{% endblock content %}